*,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    width: 1160px;
    margin: 0 auto;
}
.header{
    width: 1160px;
    height: 70px;
    background-color: #1b5589;
    padding-left: 55px;
    display: flex;
    box-sizing: border-box;
    position: relative;
}
#logo{
    padding-top: 10px;
}
ul{
    list-style-type: none;
    display: flex;
    padding-top: 23px;
}
ul li{
    padding-left: 17px;
}
ul li a{
    text-decoration: none;
    color: rgb(185, 185, 185);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
ul li a:hover{
    color: white;
    cursor: pointer;
}
ul li:last-child a{
    color: white;
}
#head__avatar{
    position: absolute;
    right: 55px;
}
.wrapp__forms{
    width: 90%;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 25px;
}
.wrapp__forms > ul{
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    grid-template-rows: repeat(2, 50px);
    grid-row-gap: 25px;
    padding-top: 0;
}
.sign{
    background-color: #cce5ff;
    text-align: center;
    vertical-align: middle;
    color: #17448f;
    padding-top: 15px;
    text-transform: uppercase;
}
.change__photo{
    display: flex;
    flex-direction: column;
}
.change__photo > img{
    width: 140px;
    height: 140px;
    margin: 0 auto;
}
.info, .password{
    display: flex;
    flex-direction: column;
}
input{
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid rgb(228, 228, 228);
    padding: 7px;
}
#file{
    display: none;
}
.box__wrapp{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    background-color: #6c757d;
    text-align: center;
    box-sizing: border-box;
    padding-top: 7px;
    color: white;
    margin: 0 auto;
}
.box__wrapp:hover{
    cursor: pointer;
}
button{
    border-radius: 3px;
    background-color: #6c757d;
    text-align: center;
    box-sizing: border-box;
    color: white;
    border: unset;
    height: 30px;
}