*,body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1160px;
    margin: 0 auto;
}
.header{
    width: 1160px;
    height: 70px;
    background-color: #1b5589;
    padding-left: 55px;
    display: flex;
    box-sizing: border-box;
    position: relative;
}
#logo{
    padding-top: 10px;
}
ul{
    list-style-type: none;
    display: flex;
    padding-top: 23px;
}
ul li{
    padding-left: 17px;
}
ul li a{
    text-decoration: none;
    color: rgb(185, 185, 185);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
ul li a:hover{
    color: white;
    cursor: pointer;
}
ul li:last-child a{
    color: white;
}
#head__avatar{
    position: absolute;
    right: 55px;
}